 /*
   Global Styles
 */

 $colorBackgroundDark: #1a1b1d;
#app {
  font-family: 'Montserrat' !important;

  p, blockquote, li {
    font-size: 20pt;
    line-height: 150%;

  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
    font-family: 'Montserrat' !important;
    margin-top: 20px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 90pt;
    //font-family: 'Montserrat' !important;
  }

  h2 {
    font-size: 20pt;
    line-height: 1em;
  }

   .page {
     //margin-top: 130px;
     //margin-top: 14px;
     height: calc(100vh - 115px);
     font-family: 'Montserrat';
     h1 {}
   }

   .dark {
     color: white;
     background-color: $colorBackgroundDark;

     h1 {}
   }

   .light {
    color: black;
    h1 {}
   }

   .right {
     text-align: right;
   }

  @mixin divBar {
    height: 22px;
    width: 18%;
    display: inline-block;
    //margin-top: 9px;
    margin-top: 80px;
    transition-property: width;
    transition-timing-function: ease-out;;
    transition-duration: 150ms;
  }
   .divBarDark {
     @include divBar;
     background-color: white;
   }

   .divBarLight {
     @include divBar;
     background-color: red;
   }

   .inset {
     width: 150px;
     height: 150px;
     margin-right: 15px;
     inline-style: block;
     float: left;
     shape-outside: inset(0px);
     clip-path: inset(0px);
     background-color: black;
   }

   .ulRight {
     direction: rtl;
   }

   .projects{
     img {
       width: 100%;
       height: auto;
       display: block;
     }
   }
}
