/*
  Home pgae Styling SCSS
*/
#__homePage {
  background-image: url("./Portrait.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;

  .text {
    margin-top: 200px;
  }
}
